#header_div img{
height: 100px;
width: 100px;
}


body{
background-color: skyblue;
}

#header_div{
background-color: coral;
}

#test1 img{
height:400px;
width:250px;
}
#test1{
background-color: tomato;
height: 700px;
}

#result{
    background-color: black;
    margin-top: 20px;
    border-width: 3px;
    border: 3px dashed white;
    width: 256px;
    box-shadow: 5px 5px 18px black;
}
#test1_microsoft{
    margin-top: 50px;
    box-shadow: 10px 10px 18px black;
}
#test1_mobilenet{
    margin-top: 50px;
    box-shadow: 10px 10px 18px black;
}

#test1_accuracy{
background-color: gray;
border-radius: 10px;
width: 700px;
padding: 10px;
color: black;
}



#test2 img{
    height:400px;
    width:300px;
    }
    #test2{
    background-color: tomato;
    height: 700px;
    }
    
    #result2{
        background-color: black;
        margin-top: 20px;
        border-width: 3px;
        border: 3px dashed white;
        width: 306px;
        box-shadow: 5px 5px 18px black;
    }
    #test2_microsoft{
        margin-top: 50px;
        box-shadow: 10px 10px 18px black;
    }
    #test2_mobilenet{
        margin-top: 50px;
        box-shadow: 10px 10px 18px black;
    }
    
    #test2_accuracy{
    background-color: gray;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    color: black;
    }



    #test3 img{
        height:400px;
        width:300px;
        }
        #test3{
        background-color: tomato;
        height: 700px;
        }
        
        #result3{
            background-color: black;
            margin-top: 20px;
            border-width: 3px;
            border: 3px dashed white;
            width: 306px;
            box-shadow: 5px 5px 18px black;
        }
        #test3_microsoft{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        #test3_mobilenet{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        
        #test3_accuracy{
        background-color: gray;
        border-radius: 10px;
        width: 700px;
        padding: 10px;
        color: black;
        }



        
    #test4 img{
        height:400px;
        width:300px;
        }
        #test4{
        background-color: tomato;
        height: 700px;
        }
        
        #result4{
            background-color: black;
            margin-top: 20px;
            border-width: 3px;
            border: 3px dashed white;
            width: 306px;
            box-shadow: 5px 5px 18px black;
        }
        #test4_microsoft{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        #test4_mobilenet{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        
        #test4_accuracy{
        background-color: gray;
        border-radius: 10px;
        width: 700px;
        padding: 10px;
        color: black;
        }


        
        
    #test5 img{
        height:400px;
        width:300px;
        }
        #test5{
        background-color: tomato;
        height: 700px;
        }
        
        #result5{
            background-color: black;
            margin-top: 20px;
            border-width: 3px;
            border: 3px dashed white;
            width: 306px;
            box-shadow: 5px 5px 18px black;
        }
        #test5_microsoft{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        #test5_mobilenet{
            margin-top: 50px;
            box-shadow: 10px 10px 18px black;
        }
        
        #test5_accuracy{
        background-color: gray;
        border-radius: 10px;
        width: 700px;
        padding: 10px;
        color: black;
        }

        #footer h2{
        box-shadow: 10px 1px 18px black;
        }